<div id="user-show" class="container">
  <div id="left-bar"></div>
    <div id="middle-bar">
      <h2><%= @user.name %>'s Hosted Events</h2>
        <% @user.events.each do |event|%>
          <div class="row">
            <%= link_to event_path(event) do %>
              <%= event.name %> - <%= event.category %>- <%= event.location %> (<%= event.date %>)
            <% end %>
          </div>
         <% end %>
       <h2><%= @user.name %>'s Requested Events</h2>
         <% @user.events_requested.each do |event| %>
           <div class="row">
             <%= link_to event_path(event) do %>
              <%= event.name %> (hosted by <%= event.user.name %>) - <%= event.category %> - <%= event.location %> (<%= event.date %>)
             <% end %>
           </div>
         <% end %>
    </div>
    <div id="user-info">
      <div class="user-photo" style="background-image: url(<%= @user.user_photo %>); background-size: cover; background-position: center;">
      </div>
        <%#= image_tag('@user.user_photo') %>
        <h1><%= @user.name %>'s page</h1>
        <h4>User Bio:</h4>
        <p><%= @user.user_bio %></p>
    </div>
</div>
