<div id="user-show" class="container">
    <div id="middle-bar">
      <div class="tabs">
        <a id="defaultOpen" class="tab" onclick="openEvent(event, 'Joined')">
          <p>Requested events</p>
        </a>
        <a class="tab" onclick="openEvent(event, 'Hosted')">
          <p>Hosted events </p>
        </a>
      </div>
      <div class="white-background">
        <div class="profile-hosted-events tabcontent" id="Hosted">
          <h2><%= @user.name %>'s Hosted Events</h2>
          <% @user.events.sort_by { |event| event.date}.each do |event|%>
            <%= render 'shared/events-requested', event: event %>
          <% end %>
        </div>
        <div class="profile-joined-events tabcontent" id="Joined">
          <h2><%= @user.name %>'s Requested Events</h2>
          <% @user.events_requested.sort_by { |event| event.date}.each do |event| %>
            <%= render 'shared/events-hosted', event: event %>
          <% end %>
        </div>
      </div>
    </div>
  <div id="user-info">
    <div class="user-photo" style="background-image: url(<%= @user.user_photo %>); background-size: cover; background-position: center;">
    </div>
    <h1><%= @user.name %>'s page</h1>
    <h4>User Bio:</h4>
    <p><%= @user.user_bio %></p>
    <%= link_to "edit profile", edit_user_path(@user), class: "form-container-two" %>
  </div>
</div>

<script type="text/javascript">
  function openEvent(evt, eventName) {
    // Declare all variables
    var i, tabcontent, tab;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tab" and remove the class "active"
    tab = document.getElementsByClassName("tab");
    for (i = 0; i < tab.length; i++) {
        tab[i].className = tab[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(eventName).style.display = "block";
    evt.currentTarget.className += " active";
  }

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
