<div id="event-form">
  <%= simple_form_for @event do |f| %>
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :date, as: :string, input_html: { class: 'datepicker', value: Date.today }, order: [:day, :month, :year] %>
      <%= f.input :description %>
    <div class="inline-form-fields">
      <div class="form-group-first">
        <%= f.input :category %>
      </div>
      <div class="form-group-second">
        <%= f.input :group_size %>
      </div>
    </div>
    <div class="form-group">
      <%= f.submit "Create event", class: ' form-control button-form' %>
    </div>
  <% end %>
</div>
