<div class="wide-event-card">
  <%= link_to event_path(event), class: "event-card-link" do %>
    <div class="card-content-flex">
      <div class="card-left">
        <div class="left-column"><i class="<%= EventsController::LOGOS[event.category] %>"></i>
        </div>
        <div class="middle-column">
          <div class="wide-event-card-title">
           <h4><%= event.name %></h4>
          </div>
            <p><%= event.date.strftime("%A %d %b") %> (<%= event.location %>)</p>
            <p><%= event.date.strftime("%H:%M") %></p>
        </div>
      </div>
      <% if @user == current_user %>
        <div class="right-column">
          <div class="request-status <%= event.requests.find { |request| request.user == @user }.status %>">
            <i class="<%= UsersController::STATUSES[event.requests.find { |request| request.user == @user }.status] %>"></i>
            <%= event.requests.find { |request| request.user == @user }.status %>
          </div>
          <% unless event.requests.find { |request| request.user == @user }.status == "rejected" %>
            <%= link_to request_path(event.requests.find { |request| request.user == @user }), method: :delete, id: "delete-request" do %>
              <i class="fas fa-times"></i>Cancel request
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
