<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<ul>
  <% @events.each do |event| %>
    <li>
      <%= link_to event.description, event_path(event) %>
      <%= event.date %>
      <%= event.location %>
      <%= link_to "Edit", edit_event_path(event) %>
      <%= link_to "Delete", event_path(event), method: :delete %>
    </li>
  <% end %>
</ul>
