<div id="event-show" class="flex-container">
  <div class="event-info-container">
    <div class="event-title-category">
      <h1><%= @event.name %></h1>
      <div class="flex-right">
        <span><%= @event.category.capitalize %></span>
        <i class="<%= EventsController::LOGOS[@event.category] %>"></i>
      </div>
    </div>
    <div class="event-body-flex">
      <div class="event-details-body">
        <div class="event-details-top">
          <p><Strong>Description:</Strong> <%= @event.description %></p>
          <ul>
            <li><strong>Time: </strong><%= @event.date.strftime("%H:%M") %></li>
            <li><strong>Date: </strong><%= @event.date.strftime("%A %d %B %Y") %></li>
            <li><strong>Location: </strong><%= @event.location %></li>
            <li><strong>Group size:</strong> <%= @event.group_size %></li>
            <% unless @event.price.zero? %>
              <li><strong>Price:</strong> £<%= @event.price %> (to cover activity costs)</li>
            <% end %>
          </ul>
        </div>
        <div class="event-details-bottom">
          <p><strong>Host name:</strong> <%= @event.user.name.capitalize %> <%= link_to user_path(@event.user) do%>
            <i class="fas fa-long-arrow-alt-left"></i>
            <span>More about the host</span>
          <% end %>
          </p>
          <p><strong>Group bio:</strong> <%= @event.group_bio %></p>
        </div>
      </div>
      <div class="group-photo" style="background-image: url(<%= @event.group_photo %>); background-size: cover; background-position: center;">
      </div>
    </div>
    <div class="request-form">
      <%= render 'shared/request-form' %>
    </div>
  </div>
  <div id="map-container">
    <img src=<%= image_path 'map.png' %>>
  </div>
</div>




<!-- <li>Event confirmed?? <%#= @event.confirmed %></li> -->
<%#= @event.review_of_host %>
<%#= @event.review_of_guest %>
<%#= link_to "Home", "/events/index/1/2"  %>
