<h1><%= @event.name %></h1>

<ul>
  <li>Host: <%= @event.user.name %></li>
  <li>Category: <%= @event.category %></li>
  <li>Description: <%= @event.description %></li>
  <li>Location: <%= @event.location %></li>
  <li>Date: <%= @event.date %></li>
  <li>Group size: <%= @event.group_size %></li>
  <li>Group bio: <%= @event.group_bio %></li>
  <li>Event confirmed?? <%= @event.confirmed %></li>
</ul>
<%#= @event.review_of_host %>
<%#= @event.review_of_guest %>
<%= link_to "Home", "/events/index/1/2"  %>
