<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>

<%= @event.description %>
<%= @event.location %>
<%= @event.date %>
<%= @event.group_size %>
<%= @event.review_of_host %>
<%= @event.review_of_guest %>
<%= @event.confirmed %>
<%= @event.latitude %>
<%= @event.longitude %>
